/* Add a CSS class for elements with animations */
.animation-element {
  will-change: transform;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.carousel-container {
  overflow: hidden;
  position: relative;
  height: 100%;
  border-color: #4b5563;
  width: 600%;
}

.carousel-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 550px;
  height: 80%;
  border-radius: 5%;
  background: white;
  box-shadow: 0 8px 12px -5px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.carousel-card > img {
  height: 10%;
  width: 10%;
  border-radius: 50%; /* "full" is not a valid value; use 50% for a circle */
}

.carousel-track {
  display: flex;
  position: absolute;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 80px;
  gap: 40px;
  width: 200%;
  height: 100%;
  animation: slide 60s linear infinite;
}
.carousel-track:hover {
  animation-play-state: paused;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 767px) {
  .carousel-container {
    overflow: hidden;
    position: relative;
    height: 100%;
    border-color: #4b5563;
    width: 400%;
  }
  .carousel-track {
    display: flex;
    position: absolute;
    left: 0;
    justify-content: center;
    align-items: center;
    height: 80px;
    gap: 40px;
    width: 400%;
    height: 100%;
    animation: slide 60s linear infinite;
  }
  .carousel-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 80%;
    border-radius: 5%;
    background: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05), -2px -2px 5px rgba(0, 0, 0, 0.05),
    0 8px 12px rgba(0, 0, 0, 0.2);
    padding: 10px;
  }
}
